@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu');
header{
    font-size:xx-large;
}
h1{
    font-size:xx-large;
    text-align:center;
    }   
.amarillo{
    color:#FFFF00;
    }
.resaltado:hover{
    background-color:gold;
}
#cuerpo{
    text-align:left;
    font-family:sans-serif; 
}
.chamullo{
    text-align:center;
    color:black;
    font-size: 1.5em;
    font-style: italic;
}
.bien{
    text-align:center;
    font-size: 4em;    
    font-family:'Baloo Tammudu';
    }