div, article, section, header, footer, nav, li {
    position: relative;
}
header{
    font-size:xx-large;
}
#titulo{
    text-align:left;
    font-family: 'impact', cursive;
}
.menu{
    text-align:right;
    color:blue; 
    font-family:arial;
    font-size:large
      }   

.amarillo{
    color:#FFFF00;
    }

.resaltado:hover{
    background-color:gold;
}
#cuerpo{
    text-align:left;
    font-family:sans-serif; 
}
h2{
    font-family:monospace
}
h1{
    display: block;
    font-size: 3em;
    font-weight: bold;
    text-align:center;
}
.chamullo{
    display: block;
    font-size: 1.5em;
    font-style: italic;
}